body {
    text-align: center;
}

#loadingBox {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#loadingMessage {
    font-size: 1.5em;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.85);
}

#wheel {
    animation-name: infiniteSpinning;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#formBox {
    width: 70%;
    margin-top: 0px;
}

#fileForm {
    width: 50%;
}

.roundedBox {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.radioLabel {
    width: 220px;
}

.analysisForm {
    margin-right: 5px;
}

.analysisComment {
    margin-top: 5px;
}

.guideCell {
    width: 190px;
}

.outputBox {
    border-width: 2px;
    border-style: solid;
    border-color: #a6c7ff;
    width: 30%;
    height: 800px;
    overflow-y: auto;
}

.shown {
    display: inline-block;
}

.hidden {
    display: none;
}

.fullScreen {
    width: 100%;
    height: 100%;
}

.alignLeft {
    text-align: left;
}

.bgWhite {
    background-color: white;
}

.bgAliceBlue {
    background-color: aliceblue;
}

.bgAmbigousBlue {
    background-color: #c7dafa;
}

@keyframes infiniteSpinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}