<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Online NL Processor</title>
    <style>
        @import url("../static/index.css");
    </style>
</head>

<body onload="init()">
    <!-- 타이틀 -->
    <h1>Online Natural Language Processor</h1>

    <!-- 폼 -->
    <div id="formBox" class="roundedBox bgAliceBlue">

        <!-- 파일 폼 -->
        <input id="fileForm" class="roundedBox" type="file" accept="text/plain"><br>

        <!-- 라디오 버튼 폼 -->
        <div class="roundedBox">
            <label class="roundedBox radioLabel alignLeft bgAliceBlue">
                <input type="radio" name="analysisType" value="0" disabled>Named Entity Recognition
            </label>
            <label class="roundedBox radioLabel alignLeft bgAliceBlue">
                <input type="radio" name="analysisType" value="1" disabled>N-Gram Extraction
            </label>
            <label class="roundedBox radioLabel alignLeft bgAliceBlue">
                <input type="radio" name="analysisType" value="2" disabled>Word-Pair Extraction
            </label>
            <label class="roundedBox radioLabel alignLeft bgAliceBlue">
                <input type="radio" name="analysisType" value="3" disabled>Phrase Extraction
            </label>
        </div><br>

        <!-- N-Gram Extraction 라디오 버튼을 선택하면 출력되는 폼 -->
        <div class="roundedBox analysisForm hiddenBox">
            <label>
                토큰 수 <input id="ngramNumTokens" type="number" value="2" min="0" max="10" step="1">
            </label>
            <label>
                빈도수 임계값 <input id="ngramFreqThreshold" type="number" value="2" min="0" max="10" step="1">
            </label>
        </div>

        <!-- Word-Pair Extraction 라디오 버튼을 선택하면 출력되는 폼 -->
        <div class="roundedBox analysisForm hiddenBox">
            <select id="wordpairPosList1">
                <option value="NOUN">명사(NOUN)</option>
                <option value="VERB">동사(VERB)</option>
                <option value="ADJ">형용사(ADJ)</option>
                <option value="ADV">부사(ADV)</option>
                <option value="DET">한정사(DET)</option>
                <option value="PRON">대명사(PRON)</option>
                <option value="PREP">전치사(PREP)</option>
                <option value="CONJ">접속사(CONJ)</option>
                <option value="INT">감탄사(INT)</option>
            </select>
            <select id="wordpairPosList2">
                <option value="NOUN">명사(NOUN)</option>
                <option value="VERB">동사(VERB)</option>
                <option value="ADJ">형용사(ADJ)</option>
                <option value="ADV">부사(ADV)</option>
                <option value="DET">한정사(DET)</option>
                <option value="PRON">대명사(PRON)</option>
                <option value="PREP">전치사(PREP)</option>
                <option value="CONJ">접속사(CONJ)</option>
                <option value="INT">감탄사(INT)</option>
            </select>
        </div>

        <!-- Phrase Extraction 라디오 버튼을 선택하면 출력되는 폼 -->
        <div class="roundedBox analysisForm hiddenBox">
            <select id="phraseList">
                <option value="NP">명사구(NP)</option>
                <option value="PP">전치사구(PP)</option>
                <option value="VP">동사구(VP)</option>
            </select>
        </div>

        <!-- 버튼 폼 -->
        <div class="roundedBox">
            <button type="button" id="submitButton" disabled>분석 시작</button>
            <button type="button" id="downloadButton" disabled>다운로드</button>
        </div><br>


        <details class="roundedBox">
            <summary>설명</summary>

            <!-- Named Entity Recognition 라디오 버튼을 선택하면 출력되는 코멘트 -->
            <div class="analysisComment hiddenBox alignLeft">
                토큰 별 유형 정보를 출력합니다.<br>
                유형에는 다음과 같은 타입들이 있습니다.<br><br>

                <table>
                    <tr>
                        <td class="guideCell"><b>COMMERCIAL_ITEM</b></td>
                        <td>브랜드 제품</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>DATE</b></td>
                        <td>전체 날짜(11/25/2017), 일(Tuesday), 월(May) 또는 시간(8:30 a.m.)</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>EVENT</b></td>
                        <td>축제, 콘서트, 선거 등의 행사</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>LOCATION</b></td>
                        <td>국가, 도시, 호수, 건물 등과 같은 특정 위치</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>ORGANIZATION</b></td>
                        <td>정부, 회사, 종교, 스포츠 팀 등과 같은 대규모 조직</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>PERSON</b></td>
                        <td>개인, 사람 그룹, 닉네임, 가상의 인물</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>QUANTITY</b></td>
                        <td>통화, 백분율, 숫자, 바이트 등과 같은 정량화 된 수치</td>
                    </tr>
                    <tr>
                        <td class="guideCell"><b>TITLE</b></td>
                        <td>영화, 책, 노래 등과 같은 창작물이나 창작물에 부여된 공식 명칭</td>
                    </tr>
                </table><br>

                <i>예. wonjin - PERSON, seoul - LOCATION, tuesday - DATE</i>
            </div>

            <!-- N-Gram Extraction 라디오 버튼을 선택하면 출력되는 코멘트 -->
            <div class="analysisComment roundedBox hiddenBox alignLeft">
                주어진 문장을 토큰 별로 분할한 뒤, n개 단위로 묶어 n-gram 리스트를 생성합니다.<br>
                문서 내 n-gram들의 빈도수를 측정합니다.<br>
                임계값 이상의 n-gram을 출력합니다.<br><br>

                <i>예. 토큰 수: 3, 빈도수 임계값 3 &#x279C; ('My', 'name', 'is') - 3</i><br>
                <table>
                    <tr>
                        <td class="guideCell"><b>My name is jin.</b></td>
                        <td class="guideCell"><b>My name is Jin.</b></td>
                        <td class="guideCell"><b>My name is JIN.</b></td>
                    </tr>
                    <tr>
                        <td class="guideCell"><span class="bgAmbigousBlue">('My', 'name', 'is')</span></td>
                        <td class="guideCell"><span class="bgAmbigousBlue">('My', 'name', 'is')</span></td>
                        <td class="guideCell"><span class="bgAmbigousBlue">('My', 'name', 'is')</span></td>
                    </tr>
                    <tr>
                        <td class="guideCell">('name', 'is', 'jin')</td>
                        <td class="guideCell">('name', 'is', 'Jin')</td>
                        <td class="guideCell">('name', 'is', 'JIN')</td>
                    </tr>
                    <tr>
                        <td class="guideCell">('is', 'jin', '.')</td>
                        <td class="guideCell">('is', 'Jin', '.')</td>
                        <td class="guideCell">('is', 'JIN', '.')</td>
                    </tr>
                </table>
            </div>

            <!-- Word-Pair Extraction 라디오 버튼을 선택하면 출력되는 코멘트 -->
            <div class="analysisComment roundedBox hiddenBox alignLeft">
                사용자가 두개의 품사를 선택합니다.<br>
                주어진 문장을 토큰 별로 분할한 뒤, 연속되는 토큰의 품사를 조사합니다.<br>
                선택한 품사들과 일치하는 토큰 쌍을 출력합니다.<br><br>

                <i>예. 명사, 동사 &#x279C; Ministry said, Moon expressed, government hopes</i>
            </div>

            <!-- Phrase Extraction 라디오 버튼을 선택하면 출력되는 코멘트 -->
            <div class="analysisComment roundedBox hiddenBox alignLeft">
                사용자가 추출할 구(Phrase)를 선택합니다.<br>
                주어진 문장 내 해당되는 구를 출력합니다.<br><br>

                <i>예. 명사구 &#x279C; the former Emperor Akihito, Foreign Ministry spokesman</i>
            </div>
        </details>
    </div><br>

    <!-- 원본 텍스트를 출력하는 영역 -->
    <div id="rawOutput" class="outputBox roundedBox hiddenBox alignLeft"></div>

    <!-- 텍스트를 가공하여 토큰 단위로 품사 태그를 붙여서 출력하는 영역 -->
    <div id="posTaggedOutput" class="outputBox roundedBox hiddenBox alignLeft"></div>

    <!-- 분석 결과를 출력하는 영역 -->
    <div id="resultOutput" class="outputBox roundedBox hiddenBox alignLeft"></div>

    <!-- 자바 스크립트 -->
    <script src="../static/jquery-3.4.1.js"></script>
    <script src="../static/main.js"></script>
</body>

</html>